.input-w-20{
    width: 20%;
}
.border--dotted{
    border-bottom: 1px dotted #878996;
}


/****** list-properties navbar start **********/
.l-p-navbar .l-p-nav-list .nav-link{
    padding: 2px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #393C52;
}
.l-p-navbar .l-p-nav-list .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff;
    background-color: #6A78C7;
}
.l-p-navbar .l-p-nav-list .nav-pills .nav-link:hover{
    background-color: #ebeef1;
}
.l-p-navbar .l-p-nav-list .nav-pills .nav-link.active:hover{
    color: #fff;
    background-color: #6A78C7;
}
.l-p-navbar{
    padding: 10px 0;
}
.l-p-navbar .l-p-nav-list{
    border-bottom: 1px solid #ebeef1;
    padding-bottom: 10px;
}
/****** list-properties navbar end **********/
/******** list properties content start **********/
.l-p-myproperties .myproperties-heading{
    font-size: 32px;
    line-height: 32px;
    color: #393C52;
}
.l-p-myproperties .l-p-myproperties-card .border-right{
    border-right: 1px solid #A4A6BA
}
.l-p-myproperties .l-p-myproperties-card{
    border: 1px solid #A4A6BA;
    padding: 20px 12px;
}
.l-p-myproperties .l-p-myproperties-card h5.l-mypro-card-head{
    font-size: 20px;
    line-height: 32px;
    color: #393C52;
}
.l-p-myproperties .l-p-myproperties-card .l-mypro-card-content p{
    min-height: 86px;
    font-size: 14px;
    line-height: 22px;
    color: #393C52;
}
.l-p-myproperties .l-p-myproperties-card .card-btn{
    background-color: #6A78C7;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}
/******** list properties content end **********/
/******** pannel second page start ********/
.admin-pannel-main .admin-pannel-inner .side-content .nav-item .nav-link{
    font-size: 14px;
    line-height: 20px;
    color: #1a1b25;
    margin-top: 6px;
    padding: 5px 25px;
}
.admin-pannel-main .admin-pannel-inner .side-content .nav-item .nav-link:hover{
    box-shadow: inset 1px 0 #545a69;
    color: #6A78C7;
}
.admin-pannel-main .admin-pannel-inner .side-content .nav-item .nav-link.active{
    box-shadow: inset 1px 0 #6A78C7;
    color: #6A78C7;
}
 .admin-pannel-main .admin-pannel-inner .side-content{
    border-left: 1px solid #ebeef1;
}
/******** pannel second page end ********/
/********Basicinfo page start *******/
.pannel-form .p-form-heading h5{
    font-size: 18px;
    line-height: 22px;
    color: #000;
    font-weight: 400;
}
.pannel-form .label-heading{
    font-size: 16px;
    line-height: 20px;
    color: #393C52;
}
.pannel-heading .pannel-title{
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
}
.pannel-form .form-info-box.form-info-box{ 
    box-shadow: 0 0 19px rgb(0 0 0 / 20%);
    padding: 25px;
    border-radius: 8px;
}
.pannel-form .form-info-box .custom-from-control{
    max-width: 450px;
}   
.pannel-form .form-info-box .custom-from-control:focus{
    border-color:  #ced4da;
}
.pannel-form .form-info-box .c-form-select{
    max-width: 250px;
}
.pannel-form .form-info-box .form-contact-info .contact-number-inner{
    width: 300px;
}
.input-with-icon{
    border:1px solid #ced4da;
    max-width: 450px;
    border-radius: .25rem;
}
.pannel-form .another-c-details .another-c-d-btn{
    background-color: #6A78C7;
    color: #fff;
    text-align: center;
    width: 300px;
    font-size: 16px;
    line-height: 30px;
}
.pannel-form .form-info-box .p-locat-form .p-l-messagebox-inner {
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 20px 30px
}
.pannel-form .form-info-box .p-locat-form .fa-envelope-open-text{
    font-size: 50px;
    padding-right: 45px;
}
/******** Basicinfo page end *******/
/******* Layout page start ********/
.pannel-form .form-info-box .total-room-layout .layout-totalroom{
    width: 100px;
}
.pannel-form .form-info-box .total-room-layout .layout-totalroom:focus{
    border-color:  #ced4da;
}
/******* Layout page end ********/
/******* Laayout add start ******/
.pannel-form .layout-add .layout-add-room{
    background-color: #fff;
    box-shadow: 0px 0px 19px rgba(0,0,0,0.1);
    padding: 50px;
    border-radius: 5px;
}
.pannel-form .admin-pannel-inner .bedoption-remove-btn{
    background-color: transparent;
    border: none;
}
/******* Laayout add end ******/

/******* Amenities page start ********/
.pannel-form .form-info-box .amenities-raido-btn .amenities-radio{
        border: 1px solid #878996;
        padding: 8px 40px;
        border-radius: 5px;
}
.pannel-form .form-info-box .amenities-raido-btn .amenities-radio:hover{
    background-color:#ebeef1;
}
.pannel-form .amenities-category .accordion-header .accordion-button::after{
    margin-left: 0;
}
.pannel-form .amenities-accordion .amenities-acc-main{
    max-height: 234px;
}
/******* Amenities page end ********/
/****** Policies page start *******/
.pannel-form .admin-pannel-inner .policies-message{
    background: #f0f8ff85;
    padding: 10px 15px;
    border: 1px solid #f0f8ffe8;
}   

/****** Policies page end *******/
/****** Photos page start *******/
.pannel-form .property-photos .drop-box-main #dropBox {
    min-height: 300px;
    border: 3px dashed #878996;
    text-align: center;
    background: #fff;
    padding: 3em;
    margin: auto;
}
.pannel-form .property-photos .drop-box-main .imgUploader .button {
    display: inline-block;
    padding: .5em 1em;
    background: #6a78c7;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #6a78c7;
    color: #fff;
    transition: .4s;
}
.pannel-form .property-photos .drop-box-main .imgUploader .button:hover {
    background: #6a78c7d9;
    border-color: #6a78c7d9;
}
.pannel-form .property-photos .drop-box-main .imgUploader  #imgUpload {
    display: none;
}
.pannel-form .property-photos .drop-box-main #gallery {
    text-align: center;
    margin-top: 1.5em;
}
.pannel-form .property-photos .drop-box-main  #gallery div {
    display: inline-block;
    margin: .5em 1em;
}
.pannel-form .property-photos .drop-box-main  #gallery img {
    max-height: 150px;
}
.pannel-form .property-photos .drop-box-main  #gallery .fName,
.pannel-form .property-photos .drop-box-main  #gallery .fSize {
    display: block;
}
.pannel-form .property-photos .drop-box-main  #gallery .fName {
    color: brown;
}
.pannel-form .property-photos .drop-box-main  #gallery .fSize {
    font-size: .8em;
}
.pannel-form .property-photos .drop-box-main  #gallery .fType {
    font-size: .7em;
}
.pannel-form .property-photos .photo-description-box{
    background-color: #f5deb38f;
    padding: 20px;
}
/****** Photos page end *******/





